<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Errore Evento</title>
    <link rel="stylesheet" href="visualizzaEventiUtenteErrore.css">
</head>
<body>
<h1 class="titolo-grande">Errore durante la creazione dell'evento!</h1>
<br><br>
<div class="div-img">
    <img class="img" src="MLSNO.webp">
</div>
<br>
<br>
<div class="div-button">
    <form class="contenitore-button" action="../../../home/index.html">
        <input class="button" type="submit" value="Home">
    </form>
    <form class="contenitore-button" action="VisualizzaEventiUtente.jsp">
        <input class="button" type="submit" value="Riprova">
    </form>
</div>
</body>
</html>