body{
    background-image: url("sfondo-pallavolo2.jpeg");
    background-size: cover;
    text-align: center;
    z-index: 0;
}


.logoimg{
    margin-left: -50%;
    width: 200px;
    height: auto;
    opacity: 0.7;
    z-index: 10;
}

.titolo{
    font-size: 30px;
    margin-top: -4%;
    margin-left: 12%;
    color: rgb(139,69,19);
    z-index: 11;
}


.pagina{
    padding: 7%;
    background-color: rgb(210,105,30);
    opacity: 0.7;
    width: 43%;
    height: auto;
    margin-left: 57%;
    margin-top: 2%;
}

.input-group{

}

.button{
    text-decoration: none;
    padding: 20px 60px;
    color: beige;
    background-color: rgb(139,69,19);
    z-index: 0;
    text-align: center;
    margin: 10% auto;
}
.button:hover{
    background-color: sandybrown;
}

@media (max-width: 768px) {
    .titolo{
        margin-top: 10%;
        margin-left: 3%;
    }
    .pagina{
        width: 100%;
        margin-left: 0;

    }
}








/* Footer */
.footer{
    background-color: black;
    padding-top: 50px;
    text-align: center;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 0;
    opacity: 0.8;
}

@media (max-width: 768px){
    .footer{width: 100%; font-size: 10px; margin-left: 0;}
    .col h4{font-size: 15px; padding: 0 5px; text-align: center;}

}

.grid{
    display: flex;
    padding: 50px 30px;
    color: white;
}


.col h4{
    width: 100%;

}

.col{
    width: 100%;
    padding-bottom: 50px;
}
