body{
    background-color: black;

}

.titolo-grande{
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
    color: beige;

}

.div-img{
    width: 30%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.img{
    width: 100%;
    height: 100%;
}

.div-button{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
}

.contenitore-button{
    margin-left: auto;
    margin-right: auto;
}

.button {
    text-decoration: none;
    position: relative;
    padding: 20px 60px;
    color: black;
    background-color: beige;
    z-index: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.button:hover{
    background-color: gray;
}