body{
    background-image: url("../images/sfondocampo.JPG");
    background-size: cover;
    margin-left: 20%;
    width: 50%;
    align-items: center;

}

.logoimg{
    margin-left: -40%;
    width: 200px;
    height: auto;
}
.titolo{
    font-size: 50px;
    margin-top: -12%;
    margin-left: 20%;
    color: rgba(245,245,220);
    padding: 20px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}

.pagina{
    padding: 80px;
    margin-top: 2%;
    background-color: beige;
    opacity: 0.9;
    margin-left: 20%;
}

.input-group{
    width: 100%;
    background-color: #2a5324;
}

.input-group-text{
    background-color: navajowhite;
}

.button {
    text-decoration: none;
    position: relative;
    padding: 4% 8%;
    color: black;
    background-color: beige;
    z-index: 0;
    text-align: center;
    margin-left: 22%;
}

@media (max-width: 968px){
    body{
        margin-left: 0%;
        width: 100%;
    }
    .logoimg{
        margin-left: -1%;
        opacity: 1;
    }
    .titolo{
        margin-top: 2%;
        margin-left: 0%;
        font-size: 30px;
    }


    .pagina{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        opacity: 0.9;
    }

    .button{
        margin-left: auto;
        margin-right: auto;
        padding: 15px 50px;
    }
}





/* Footer */
.footer{
    background-color: black;
    padding-top: 50px;
    text-align: center;
    width: 200%;
    margin-left: -40%;
    margin-bottom: -10%;
    opacity: 0.8;
}

@media (max-width: 968px){
    .footer{width: 100%; font-size: 10px; margin-left: 0;}
    .col h4{font-size: 15px; padding: 0 5px; text-align: center;}

}

.grid{
    display: flex;
    padding: 50px 30px;
    color: white;
}


.col h3{
    width: 100%;

}

.col{
    width: 100%;
    padding-bottom: 50px;
}
