body{
    background-image: url("../images/sfondocampo.JPG");
    background-size: cover;
    margin-left: 20%;
    width: 50%;
    align-items: center;
}

.logoimg{
    margin-left: -40%;
    width: 200px;
    height: auto;
}
.titolo{
    font-size: 50px;
    margin-top: -14%;
    margin-left: 25%;
    color: beige;
}

.pagina{
    padding: 80px;
    background-color: beige;
    opacity: 0.9;
    margin-left: 20%;
}

.input-group{
    width: 100%;
    background-color: #2a5324;
}

.input-group-text{
    background-color: navajowhite;
}


